body {
    background-color: #62ACDF;
}


.form_div {
    background-color: white;
    width: 250px;
    font-family: Garelina;
    margin: auto;
    margin-top: 50px;
    border-radius: 16px;
}


.form {
    padding-top: 5px;
    padding-bottom: 8px;
    text-align: center;
    margin: auto;
}

.form_error {
    color: red;
}